@font-face {
  font-family: "menlo";
  src: url("fonts/Menlo-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: left;
  background-color: none;
  color: silver;
  background-color: rebeccapurple;
  overflow: hidden;
}

#title {
  font-size: 6rem;
  letter-spacing: -2px;
  line-height: 0.9em;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: 0.25s;
  z-index: -1;
  color: red;
}

#container {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
  height: 50%;
}

#row1 {
  flex-grow: 0;
  flex-shrink: 2;
}

#row2 {
  flex-grow: 1;
  flex-shrink: 0;
  margin-top: 1px;
}

.row div:first-child {
  flex-grow: 0;
  flex-shrink: 0;
}

.paragraph {
  border: 1px solid red;
  font-size: 6rem;
  width: 50%;
  height: 100%;
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 62px;
  margin: 0 0 0 -1px;
  line-height: 8rem;
}


#handle {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid red;
  position: absolute;
  left: calc(50vw - 25px);
  top: calc(50vh - 25px);
  cursor: grab;
}

#handle:hover {
  background-color: red;
}
#handle:active {
  cursor: grabbing;
}

#clockContainer {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

#vertical {
  width: 20px;
  height: 100px;
  background-color: red;
  position: absolute;
  left: 40px;
}

#horizontal{
  width: 100px;
  height: 20px;
  position: absolute;
  top: 40px;
  background-color: red;
}

#mute-btn {
  color: red;
  position: fixed;
  padding: 25px;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
}

#mute-btn:hover {
  color: purple;
  background-color: red;
}