html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: left;
  font-size: 14px;
  color: darkslategrey;
  background-color: thistle;
}

h1 {
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  white-space: nowrap;

}

.expanded h1 {
  padding-bottom: 25px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

p {
  padding-bottom: 25px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

* {
  box-sizing: border-box;
}



.centered {
  padding: 15px;
  font-size: 6rem;
  line-height: 1em;
  letter-spacing: -2px;
}

.runner {
  padding: 50px;
  font-size: 8rem;
  line-height: 1em;
  letter-spacing: -2px;
  position: fixed;
  z-index: 0;
}

#container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: 0.25s;

}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: -1px;
  width: 100vw;
  transition: 0.25s;
}

#col1 {
  align-items: flex-start;
}

#col2 {
  align-items: center;
}

#col3 {
  align-items: flex-end;
}


.page {
  flex-shrink: 1;
  overflow: auto;
  padding: 20px;
  font-size: 1rem;
  border: 1px solid darkslategrey;
  background-color: thistle;

  font-size: 1.2rem;
  line-height: 1.8rem;
  transition: 0.25s;
  min-height: 62px;
  height: 62px;
  width: 100%;
  margin-top: -1px;
}


.page:hover {
  color: thistle;
  background-color: darkslategrey;
  cursor: pointer;
}

@media (min-width: 768px) {
  #container {
    flex-direction: row;
  }

  .expanded {
    height: 1000px;
  }

  .col {
    width: 0;
  }
}


.expanded {
  height: 550px;
  max-width: 400px;
  background-color: darkslategrey;
  color: thistle;
  border: 1px solid thistle;
}

/* Common */

#clockContainer {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

#vertical {
  width: 20px;
  height: 100px;
  background-color: darkslategrey;
  position: absolute;
  left: 40px;
  transition: 0.25s;

}

#horizontal{
  width: 100px;
  height: 20px;
  position: absolute;
  top: 40px;
  background-color: darkslategrey;
  transition: 0.25s;

}

#mute-btn {
  color: darkslategray;
  position: fixed;
  padding: 25px;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
  z-index: 0;
}

#mute-btn:hover {
  color: thistle;
  background-color: darkslategray;
}