html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: left;
  font-size: 14px;
  color: orangered;
  background-color: cornsilk;
}

h1 {
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  white-space: nowrap;

}

.expanded h1 {
  padding-bottom: 25px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

p {
  padding-bottom: 25px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

* {
  box-sizing: border-box;
}



.centered {
  padding: 15px;
  font-size: 6rem;
  line-height: 1em;
  letter-spacing: -2px;
}

.runner {
  padding: 50px;
  font-size: 8rem;
  line-height: 1em;
  letter-spacing: -2px;
  position: fixed;
  z-index: 0;
}

#container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: 0.25s;
  z-index: 0;

}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: -1px;
  width: 100vw;
  transition: 0.25s;
}

#col1 {
  align-items: flex-start;
}

#col2 {
  align-items: center;
}

#col3 {
  align-items: flex-end;
}


.page {
  flex-shrink: 1;
  overflow: auto;
  padding: 20px;
  font-size: 1rem;
  border: 1px solid orangered;
  background-color: cornsilk;
  color: orangered;

  font-size: 1.2rem;
  line-height: 1.8rem;
  transition: 0.25s;
  min-height: 62px;
  height: 62px;
  width: 100%;
  margin-top: -1px;
  border-radius: 10px;
}

.page:hover {
  cursor: pointer;
}

.page:not(.expanded):hover {
  font-style: italic;
}

.expanded:hover {
  color: cornsilk;
  background-color: orangered;
  border: 1px solid cornsilk;
}


@media (min-width: 768px) {
  #container {
    flex-direction: row;
  }

  .expanded {
    height: 1000px;
  }

  .col {
    width: 0;
  }
}


.expanded {
  height: 1000px;
  max-width: 400px;
}

/* Common */


#clockContainer {
  width: 70px;
  height: 70px;
  bottom: 5px;
  right: 5px;
  position: fixed;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

#vertical {
  width: 12px;
  height: 70px;
  background-color: orangered;
  position: absolute;
  left: 29px;
}

#horizontal{
  width: 70px;
  height: 12px;
  position: absolute;
  top: 29px;
  background-color: orangered;
}

#mute-btn {
  color: orangered;
  position: fixed;
  padding: 25px;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
  z-index: 0;
}

#mute-btn:hover {
  color: cornsilk;
  background-color: orangered;
}

#nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0px;
  height: 100vh;
  border: 0;
  transition: 0.25s;
  z-index: 1;
  border-radius: 2px;
}

.showNav {
  width: 400px!important;
}

.navClock {
  background-color: cornsilk!important;
}