body {
	font-family: Montserrat;
	padding: 100px;

}

a:hover{
	font-size: 30px;
	background-color: blue;
	color: blue;
}

h2:hover{
	background-color: aliceblue;
}

p:hover{
	background-color: aliceblue;
}

img{
	width: 300px
}

.wiki{
	margin: -90px;
	width: 95vw;
	height:95vw;
	background-image: url(wikipedia.png);
	background-repeat: no-repeat;
}

.love{
	margin: -90px;
	width: 95vw;
	height:700px;
	background-image: url(Love.png);
	background-repeat: no-repeat;
	background-position: center
}

iframe{
	margin-top: 100px;
}

.definition{
	margin-top: 50px;
}

.definition:hover{
	color:blue;
}

.people{
	color: blue;
}

.people:hover{
	color: cyan;
}

.floated_img
{
    float: left;
    width:300px;
	height: 200px;
}
}