body {
	font-family: Montserrat;
	padding: 100px;

}

a:visited{
	font-size: 30px;
	background-color: blue;
	color: white;
	text-decoration: none;
}

a{
	color: white;
	text-decoration: none;
}

h2:hover{
	background-color: aliceblue;
}

p:hover{
	background-color: aliceblue;
}

.button{
	padding: 10px;
	margin: 20px;
	background-color: white;
	border: 5px;
	color: white;
	border-color: blue;
	border-style: dashed;
	text-align: center;
	text-decoration:none;
	
}

.button:hover{
	background-color: blue;
	color: white;
	text-decoration: none;
}