body {
	font-family: Montserrat;
	padding: 100px;

}

a:hover{
	font-size: 30px;
	background-color: blue;
	color: blue;
}

h2:hover{
	background-color: aliceblue;
}

p:hover{
	background-color: aliceblue;
}

.button{
	padding: 10px;
	margin: 20px;
	background-color: white;
	border: 2px;
	color:black;
	border-color: blue;
	border-style:double;
	
}

.button:hover{
	background-color: blue;
	color: blue;
}