/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, .nav, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 20, ../sass/screen.scss */
body {
  font-family: 'Noto Serif', serif;
  color: #F05324;
  font-size: 5vw;
  line-height: 1.4;
}

/* line 27, ../sass/screen.scss */
a {
  color: #F05324;
  text-decoration: none;
}

/* line 32, ../sass/screen.scss */
.cue {
  display: inline;
  font-family: 'Saira Extra Condensed', sans-serif;
  color: grey;
}

/* line 38, ../sass/screen.scss */
.hr {
  border-color: #F05324;
  border-style: solid;
  border-width: .5px;
  width: 17%;
  transition: width 0.25s;
  margin: auto;
}

/* line 47, ../sass/screen.scss */
#hr-about {
  transition: 0.25s;
}

/* line 51, ../sass/screen.scss */
.hr-long {
  border-color: #F05324;
  border-style: solid;
  border-width: .5px;
  width: 100%;
  transition: width 0.5s;
  margin: auto;
}

/* line 60, ../sass/screen.scss */
.hr-white {
  border-color: white;
}

/* line 64, ../sass/screen.scss */
.head-foot {
  padding: 20px;
  color: white;
  background-color: #F05324;
}

/* line 70, ../sass/screen.scss */
#this-is {
  font-size: 2em;
}

/* line 74, ../sass/screen.scss */
h1 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 8.2em;
  line-height: .85;
}

/* line 80, ../sass/screen.scss */
h2 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 3.4em;
  line-height: .9;
  padding-top: 10px;
}

/* line 87, ../sass/screen.scss */
h3 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 2em;
  line-height: .85;
  display: inline;
  padding-left: 10px;
}

/* line 95, ../sass/screen.scss */
i, .nav {
  font-style: italic;
}

/* line 99, ../sass/screen.scss */
iframe {
  padding-top: 20px;
  filter: hue-rotate(23deg) brightness(135%) saturate(78%);
}

/* line 104, ../sass/screen.scss */
#about-container {
  padding: 20px;
  margin: 20px;
  border: 1px solid #F05324;
  cursor: pointer;
  transition: 0.25s;
}

/* line 112, ../sass/screen.scss */
#about-button {
  text-align: center;
}

/* line 116, ../sass/screen.scss */
#about {
  box-sizing: border-box;
  margin-top: 20px;
}

/* line 124, ../sass/screen.scss */
.episode {
  border: 1px solid #F05324;
  margin: 20px;
  cursor: pointer;
}

/* line 132, ../sass/screen.scss */
.episode-button {
  padding: 20px;
  transition: 0.25s;
}
/* line 137, ../sass/screen.scss */
.episode-button:hover {
  background-color: #F05324;
  color: white;
}

/* line 143, ../sass/screen.scss */
.episode-button-open {
  border-bottom: 1px solid #F05324;
}

/* line 147, ../sass/screen.scss */
.episode-container {
  padding: 20px;
}

/* line 152, ../sass/screen.scss */
.show {
  display: block;
  transition: 0.25s;
}

/* line 157, ../sass/screen.scss */
.date {
  font-style: italic;
  float: left;
}

/* line 162, ../sass/screen.scss */
.length {
  font-style: italic;
  float: right;
}

/* line 167, ../sass/screen.scss */
.listen-button {
  padding: 20px;
  margin: 20px -20px -20px -20px;
  color: #F05324;
  background-color: white;
  text-align: center;
  border-top: 1px solid #F05324;
}
/* line 175, ../sass/screen.scss */
.listen-button:hover {
  color: white;
  background-color: #F05324;
  border-top: none;
}

/* line 182, ../sass/screen.scss */
#footer {
  font-size: 0.75em;
  line-height: 1.5;
}

/* line 189, ../sass/screen.scss */
.episode-page {
  border: 1px solid #F05324;
  margin: 20px;
  padding: 20px;
}
/* line 194, ../sass/screen.scss */
.episode-page h2 {
  padding-bottom: 20px;
}
/* line 198, ../sass/screen.scss */
.episode-page hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 204, ../sass/screen.scss */
.nav {
  position: fixed;
  top: 0;
  margin: 20px;
  padding: 20px;
  background-color: white;
  color: #F05324;
  border: 1px solid #F05324;
  transition: top 0.25s ease-in-out;
}

/* line 218, ../sass/screen.scss */
.nav-up {
  top: -40%;
}
