/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 20, ../sass/screen.scss */
body {
  font-family: 'Noto Serif', serif;
  color: light-grey;
  font-size: 5vw;
  line-height: 1.5;
}

/* line 27, ../sass/screen.scss */
a {
  color: #F05324;
  text-decoration: none;
}

/* line 32, ../sass/screen.scss */
.cue {
  display: inline;
  font-family: 'Saira Extra Condensed', sans-serif;
  color: #F05324;
}

/* line 38, ../sass/screen.scss */
.hr {
  border-color: #F05324;
  border-style: solid;
  border-width: .5px;
  width: 17%;
  transition: width 0.25s;
  margin: auto;
}

/* line 47, ../sass/screen.scss */
#hr-about {
  transition: 0.25s;
}

/* line 51, ../sass/screen.scss */
.hr-back-to-menu {
  width: 39%;
}

/* line 54, ../sass/screen.scss */
.hr-long {
  border-color: #F05324;
  border-style: solid wavy;
  border-width: .5px;
  width: 100%;
  transition: width 0.5s;
  margin: auto;
}

/* line 65, ../sass/screen.scss */
.hr-white {
  border-color: white;
}

/* line 71, ../sass/screen.scss */
#this-is {
  font-size: 2em;
}

/* line 75, ../sass/screen.scss */
h1 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 8.2em;
  line-height: .85;
  color: #F05324;
}

/* line 82, ../sass/screen.scss */
h2 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 3.4em;
  line-height: .9;
  padding-top: 10px;
  color: #F05324;
}

/* line 90, ../sass/screen.scss */
h3 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 2em;
  line-height: .85;
  display: inline;
  color: #F05324;
}

/* line 100, ../sass/screen.scss */
i {
  font-style: italic;
  color: #F05324;
}

/* line 105, ../sass/screen.scss */
iframe {
  filter: hue-rotate(23deg) brightness(135%) saturate(78%);
  height: 50px;
}

/* line 111, ../sass/screen.scss */
#about-container {
  padding: 20px;
  margin: 20px;
  border: 1px solid #F05324;
  cursor: pointer;
  transition: 0.25s;
  color: #F05324;
}

/* line 120, ../sass/screen.scss */
#about-button {
  text-align: center;
}

/* line 124, ../sass/screen.scss */
#about {
  box-sizing: border-box;
  margin-top: 20px;
}

/* line 129, ../sass/screen.scss */
#episode-list {
  margin-left: 20px;
}

/* line 134, ../sass/screen.scss */
.episode {
  border: 1px solid #F05324;
  margin: 20px;
  cursor: pointer;
  color: #F05324;
}

/* line 143, ../sass/screen.scss */
.episode-button {
  padding: 20px;
  transition: 0.25s;
}
/* line 148, ../sass/screen.scss */
.episode-button:hover {
  background-color: #F05324;
  color: white;
}
/* line 151, ../sass/screen.scss */
.episode-button:hover p {
  color: white;
}
/* line 154, ../sass/screen.scss */
.episode-button:hover h2 {
  color: white;
}

/* line 160, ../sass/screen.scss */
.episode-button-open {
  border-bottom: 1px solid #F05324;
}

/* line 164, ../sass/screen.scss */
.episode-container {
  padding: 20px;
}

/* line 169, ../sass/screen.scss */
.show {
  display: block;
  transition: 0.25s;
}

/* line 174, ../sass/screen.scss */
.date {
  font-style: italic;
  float: left;
  color: #F05324;
}

/* line 180, ../sass/screen.scss */
.length {
  font-style: italic;
  float: right;
  color: #F05324;
}

/* line 186, ../sass/screen.scss */
.button {
  padding: 20px;
  margin: 20px -20px -20px -20px;
  color: #F05324;
  background-color: white;
  text-align: center;
  border-top: 1px solid #F05324;
  transition: 0.25s;
}
/* line 195, ../sass/screen.scss */
.button:hover {
  color: white;
  background-color: #F05324;
  border-top: none;
}
/* line 199, ../sass/screen.scss */
.button:hover p {
  color: white;
}
/* line 202, ../sass/screen.scss */
.button:hover i {
  color: white;
}

/* line 208, ../sass/screen.scss */
#footer {
  font-size: 0.75em;
  line-height: 1.5;
}

/* line 215, ../sass/screen.scss */
.episode-page {
  border: 1px solid #F05324;
  margin: 20px;
  padding: 20px;
}
/* line 221, ../sass/screen.scss */
.episode-page h2 {
  padding-bottom: 20px;
}

/* line 226, ../sass/screen.scss */
.nav {
  position: fixed;
  top: 0;
  margin: 20px;
  padding: 20px;
  background-color: white;
  color: #F05324;
  border: 1px solid #F05324;
  transition: top 0.25s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: center;
}
/* line 240, ../sass/screen.scss */
.nav a:last-child {
  text-align: right;
}
/* line 243, ../sass/screen.scss */
.nav a:first-of-type {
  text-align: left;
}

/* line 249, ../sass/screen.scss */
.nav-up {
  top: -290px;
}

/* line 253, ../sass/screen.scss */
.nav-item {
  font-family: 'Noto Serif', serif;
  flex-grow: 1;
  width: auto;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}
/* line 262, ../sass/screen.scss */
.nav-item:hover {
  text-decoration: underline;
  -webkit-text-decoration-style: wavy;
  -moz-text-decoration-style: wavy;
  text-decoration-style: wavy;
  font-style: italic;
}

/* line 271, ../sass/screen.scss */
.wavy_line {
  width: 100%;
  margin: auto;
  overflow: hidden;
  color: white;
  text-decoration: underline;
  -webkit-text-decoration-color: #F05324;
  -moz-text-decoration-color: #F05324;
  text-decoration-color: #F05324;
  -webkit-text-decoration-style: wavy;
  -moz-text-decoration-style: wavy;
  text-decoration-style: wavy;
  padding-bottom: 30px;
  font-size: 30px;
}

/* line 287, ../sass/screen.scss */
.nav-side {
  display: none;
}

/* line 291, ../sass/screen.scss */
.side-bar {
  display: none;
}

/* line 295, ../sass/screen.scss */
.section-des {
  display: none;
}

/* line 299, ../sass/screen.scss */
.clip {
  margin-left: 40px;
}

/* line 303, ../sass/screen.scss */
.mobile-section-header {
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

/* line 309, ../sass/screen.scss */
.head-foot {
  padding: 20px;
  color: white;
  background-color: #F05324;
}
/* line 314, ../sass/screen.scss */
.head-foot h1 {
  color: white;
}
/* line 318, ../sass/screen.scss */
.head-foot p {
  color: white;
}
/* line 322, ../sass/screen.scss */
.head-foot i {
  color: white;
}

@media only screen and (min-width: 786px) {
  /* line 328, ../sass/screen.scss */
  body {
    font-size: 18px;
  }

  /* line 333, ../sass/screen.scss */
  .head-foot {
    margin-left: 20px;
    float: left;
    width: 60%;
    box-sizing: border-box;
  }

  /* line 340, ../sass/screen.scss */
  #about-container {
    float: right;
    width: calc(40% - 105px);
  }

  /* line 346, ../sass/screen.scss */
  #episode-list {
    float: left;
    width: 60%;
  }

  /* line 350, ../sass/screen.scss */
  .episode {
    margin-left: 0;
    width: 100%;
  }

  /* line 354, ../sass/screen.scss */
  .nav {
    width: 60%;
    max-width: 800px;
    margin-left: 20px;
    margin-top: 20px;
    border: none;
    padding: 0;
    box-sizing: border-box;
  }
  /* line 364, ../sass/screen.scss */
  .nav a {
    display: none;
  }
  /* line 367, ../sass/screen.scss */
  .nav iframe {
    padding: 0px;
    height: 120px;
  }

  /* line 374, ../sass/screen.scss */
  .episode-page {
    width: 60%;
    max-width: 700px;
    margin-left: 20px;
    margin-right: 0px;
    box-sizing: border-box;
  }

  /* line 381, ../sass/screen.scss */
  .nav-side {
    display: block;
    position: fixed;
    margin-top: 20px;
    right: 20px;
    text-align: left;
    border: 1px solid #F05324;
    padding: 20px;
    width: 70px;
    font-size: 1em;
  }

  /* line 395, ../sass/screen.scss */
  .nav-item {
    font-size: 1em;
    text-decoration: none;
    font-style: normal;
  }

  /* line 402, ../sass/screen.scss */
  .clip {
    margin-left: 80px;
  }

  /* line 406, ../sass/screen.scss */
  .mobile-section-header {
    display: none;
  }
}
@media only screen and (min-width: 1166px) {
  /* line 413, ../sass/screen.scss */
  #about-container {
    position: absolute;
    left: 800px;
    width: calc(100vw - 960px);
    max-width: 350px;
  }

  /* line 419, ../sass/screen.scss */
  #episode-list {
    margin-left: 100px;
    max-width: 700px;
  }

  /* line 424, ../sass/screen.scss */
  .head-foot {
    margin-left: 100px;
    max-width: 700px;
  }

  /* line 428, ../sass/screen.scss */
  .wavy_line {
    width: calc(100vw - 320px);
    max-width: 1400px;
  }

  /* line 432, ../sass/screen.scss */
  .nav {
    margin-left: 100px;
    width: 700px;
  }

  /* line 437, ../sass/screen.scss */
  .episode-page {
    margin-left: 100px;
  }

  /* line 440, ../sass/screen.scss */
  .section-des {
    margin-top: -20px;
    display: block;
    position: absolute;
    left: calc(60% + 40px);
    width: calc(40% - 220px);
    max-width: 700px;
    font-size: 1em;
    color: #F05324;
  }
  /* line 450, ../sass/screen.scss */
  .section-des h2 {
    color: #F05324;
  }

  /* line 456, ../sass/screen.scss */
  .section-des-body {
    position: relative;
    top: -47px;
    z-index: -1;
  }

  /* line 462, ../sass/screen.scss */
  .caption {
    font-size: 0.7em;
  }
}
