@font-face {
  font-family: "menlo";
  src: url("fonts/Menlo-Regular.ttf");
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: left;
  background-color: darkkhaki;
  overflow: hidden;

}

* {
  box-sizing: border-box;
}

#title {
  font-size: 6rem;
  letter-spacing: -2px;
  line-height: 0.9em;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: 0.25s;
  color: black;
}

#title:hover{
  text-decoration: underline;
}


#grid-0 {
  /* color: black; */
}

#grid-0 .word {
  width: calc(20% - 5px);
  height: calc(25% - 5px);
  justify-content: center;
  align-items: fcenter;
  padding: 30px;
  font-size: 1.2rem;



}

#grid-1 {
  /* color: black; */
}

#grid-1 .word {
  width: calc(25% - 5px);
  height: calc(20% - 5px);
  font-size: 1.2rem;

}

#grid-2 {
  /* color: black; */
}

#grid-2 .word {

  width: calc(50% - 5px);
  height: calc(50% - 5px);
  font-size: 5rem;

  /* border: 1px solid black; */

}

#grid-3 {
  /* color: black; */
}

#grid-3 .word {
  width: calc(10% - 5px);
  height: calc(12.5% - 5px);
  font-size: 1.2rem;
  /* border: 1px solid black; */
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;

}

.word {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  color: black;
  border: 1px solid black;
  background-color: darkkhaki;
  margin-left: 5px;
  margin-bottom: 5px;

}

/* Common */

#clockContainer {
  width: 70px;
  height: 70px;
  bottom: 5px;
  right: 5px;
  position: fixed;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
  
}

#vertical {
  width: 12px;
  height: 70px;
  background-color: black;
  position: absolute;
  left: 29px;
  transition: background-color 0.25s;
}

#horizontal{
  width: 70px;
  height: 12px;
  position: absolute;
  top: 29px;
  background-color: black;
  transition: background-color 0.25s;
}

#mute-btn {
  color: black;
  position: fixed;
  padding: 25px;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
}

#mute-btn:hover {
  color: darkkhaki;
  background-color: black;
}

#nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0px;
  height: 100vh;
  border: 0;
  transition: 0.25s;
  z-index: 1;
  border-radius: 2px;
}

.showNav {
  width: 400px!important;
}

.navClock {
  background-color: cornsilk!important;
}