body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: seashell;
  color: darkslategray;
  overflow: hidden;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

#title {
  font-size: 6rem;
  letter-spacing: -2px;
  line-height: 0.9em;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: 0.25s;
  z-index: 1;
}

.title-small {
  font-size: 2rem!important;
  letter-spacing: -1.5px!important;
}

#field {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 100px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
  color: seashell;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: calc((100vh - 120px) / 13);
}

.row:last-child {
  margin-bottom: 0;
}

.row > * {
  border: 1px solid darkslategray;
  margin-right: -1px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.longrow {
  width: 100%;
}

.shortrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

#panel {
  position: absolute;
  width: calc(50vw - 20px);
  height: calc((100vh - 120px) * 7 / 13);
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.panel-row {
  display: flex;
  flex-grow: 1;

}

.pane {
  flex-grow: 1;
  border: 1px solid red;
  color: red;
  margin-right: -1px;
  margin-top: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.25s border-radius;

}

.pane:hover {
  color: seashell;
  background-color: red;
  border-radius: 100px;
}

.pane-inner {
  justify-content: center;
}

/* Common */

#clockContainer {
  width: 70px;
  height: 70px;
  bottom: 5px;
  right: 5px;
  position: fixed;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
  
}

#vertical {
  width: 12px;
  height: 70px;
  background-color: darkslategray;
  position: absolute;
  left: 29px;
  transition: background-color 0.25s;
}

#horizontal{
  width: 70px;
  height: 12px;
  position: absolute;
  top: 29px;
  background-color: darkslategray;
  transition: background-color 0.25s;
}

#mute-btn {
  color: black;
  position: fixed;
  padding: 25px;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
}

#mute-btn:hover {
  color: seashell;
  background-color: rgb(47, 79, 79);
}

#nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0px;
  height: 100vh;
  border: 0;
  transition: 0.25s;
  z-index: 1;
  border-radius: 2px;
}

.showNav {
  width: 400px!important;
}

.navClock {
  background-color: cornsilk!important;
}