@font-face {
  font-family: "menlo";
  src: url("fonts/Menlo-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  text-align: left;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  background-color: gainsboro;
  color: cornflowerblue;


}

#title {
  font-size: 6rem;
  letter-spacing: -2px;
  line-height: 0.9;
  position: fixed;
  display: block;
  top: 20px;
  left: 20px;
  z-index: -1;
  color: cornflowerblue;
  transition: 0.25s;
}

#container {
  width: 5000px;
  height: 3000px;
  font-size: 1rem;
}

#viewfinder {
  position: fixed;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  left: calc(50vw - 75px);
  top: calc(50vh - 75px);
  border: 1px solid cornflowerblue;
}

.word {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

#clockContainer {
  width: 70px;
  height: 70px;
  bottom: 5px;
  right: 5px;
  position: fixed;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

#vertical {
  width: 12px;
  height: 70px;
  background-color: cornflowerblue;
  position: absolute;
  left: 29px;
}

#horizontal{
  width: 70px;
  height: 12px;
  position: absolute;
  top: 29px;
  background-color: cornflowerblue;
}


#mute-btn {
  font-size: 16px;
  color: cornflowerblue;
  position: fixed;
  padding: 25px;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
}

#mute-btn:hover {
  color: gainsboro;
  background-color: cornflowerblue;
}

#nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0px;
  height: 100vh;
  border: 0;
  transition: 0.25s;
  z-index: 1;
  border-radius: 2px;
}

.showNav {
  width: 400px!important;
}

.navClock {
  background-color: cornsilk!important;
}