body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: seashell;
  color: brown;
  overflow: hidden;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

#title {
  font-size: 6rem;
  letter-spacing: -2px;
  line-height: 0.9em;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: 0.25s;
}

.title-small {
  font-size: 2rem!important;
  letter-spacing: -1.5px!important;
}

#container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 100px 50px 50px 50px;
  overflow: auto;
}

#container div {
  position: relative;
  float: left;
  font-size: 1.2rem;
  animation: float 8s ease infinite;
  padding: 10px;
  margin: auto;
  transition: 0.25s;
}

.chunk, .brick {
  border: 3px double brown;

}

.chunk:hover{
  font-style: italic;
  background-color: brown;
  color: seashell;
  border-color: seashell;
  cursor: pointer;

}

.chunk:active{
  color: grey;
}


/* Common */

#clockContainer {
  width: 70px;
  height: 70px;
  bottom: 5px;
  right: 5px;
  position: fixed;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
  
}

#vertical {
  width: 12px;
  height: 70px;
  background-color: brown;
  position: absolute;
  left: 29px;
  transition: background-color 0.25s;
}

#horizontal{
  width: 70px;
  height: 12px;
  position: absolute;
  top: 29px;
  background-color: brown;
  transition: background-color 0.25s;
}

#mute-btn {
  color: brown;
  position: fixed;
  padding: 25px;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
}

#mute-btn:hover {
  color: seashell;
  background-color: brown;
}

#nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0px;
  height: 100vh;
  border: 0;
  transition: 0.25s;
  z-index: 1;
  border-radius: 2px;
}

.showNav {
  width: 400px!important;
}

.navClock {
  background-color: cornsilk!important;
}

@keyframes float {
  0% {top: 0px;}
  50% {top: 20px;}
  100% {top: 0px;}
}