body {
  font-family: serif;
  margin: 0;
  padding: 0;
  color: darkkhaki;
  background-color: #F5F5F5;

}

#container {
}

.hidden {
  width: 100px;
  height: 100px;
  cursor: crosshair;
  position: absolute;


}

.hidden:hover {
  cursor: crosshair;
  border: 2px dashed darkkhaki;
}

#timer {
  text-align: center;
  font-family: sans-serif;
  font-size: 100vh;
  position: absolute;
}