body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: left;
  background-color: darkgoldenrod;

}

* {
  box-sizing: border-box;
}

#title {
  font-size: 6rem;
  letter-spacing: -2px;
  line-height: 0.9em;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: 0.25s;
  color: thistle;
  z-index: -1;
  position: fixed;
}

.title-small {
  font-size: 3rem!important;
}

#container {
  width: 100vw;
  padding: 5px;
  padding-top: 100vh;
}

.word {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  border: 1px solid thistle;
  margin-bottom: 5px;
  padding-left: 5px;
  font-size: 1.3rem;
}

/* Common */

#clockContainer {
  width: 70px;
  height: 70px;
  bottom: 5px;
  right: 5px;
  position: fixed;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

#vertical {
  width: 12px;
  height: 70px;
  background-color: thistle;
  position: absolute;
  left: 29px;
}

#horizontal{
  width: 70px;
  height: 12px;
  position: absolute;
  top: 29px;
  background-color: thistle;
}

#mute-btn {
  color: thistle;
  position: fixed;
  padding: 25px;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
}

#mute-btn:hover {
  color: darkgoldenrod;
  background-color: thistle;
}

#nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0px;
  height: 100vh;
  border: 0;
  transition: 0.25s;
  z-index: 1;
  border-radius: 2px;
}

.showNav {
  width: 400px!important;
}

.navClock {
  background-color: cornsilk!important;
}