body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: left;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    background-color: white;
    color: yellow;

}

img {
  width: 100vw;
  height: 100vh;
}


#container {
  width: 100%;
  height: 100%;
}

div{
  box-sizing: border-box;
  position: absolute;
}

#picture {
  width: 100%;
  height: 100%;
}