/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/typography";
@import "compass/css3";

$orange: #F05324;

@mixin saira {
	font-family: 'Saira Extra Condensed', sans-serif;
}

@mixin noto {
	font-family: 'Noto Serif', serif;
}

body {
	font-family: 'Noto Serif', serif;
	color: $orange;
	font-size: 5vw;
	line-height: 1.4;
}

a {
	color: $orange;
	text-decoration: none;
}

.cue {
	display: inline;
	@include saira;
	color: grey;
}

.hr {
	border-color: #F05324;
	border-style: solid;
	border-width: .5px;
	width: 17%;
	transition: width 0.25s;
	margin:auto;
}

#hr-about {
	transition: 0.25s;
}

.hr-back-to-menu {
	width: 39%;
}
.hr-long {
	border-color: #F05324;
	border-style: solid wavy;
	border-width: .5px;
	width: 100%;
	transition: width 0.5s;
	margin:auto;


}

.hr-white {
	border-color: white;
}

.head-foot {
	padding: 20px;
	color: white;
	background-color: $orange;
}

#this-is {
	font-size: 2em;
}

h1 {
	@include saira;
	font-size: 8.2em;
	line-height: .85;
}

h2 {
	@include saira;
	font-size: 3.4em;
	line-height: .9;
	padding-top: 10px;
}

h3 {
	@include saira;
	font-size: 2em;
	line-height: .85;
	display: inline;
	padding-left: 10px;
}

i {
	font-style: italic;
}

iframe {
	//padding-bottom: 20px;
	filter: hue-rotate(23deg) brightness(135%) saturate(78%);
	height: 50px;
}

#about-container {
	padding: 20px;
	margin: 20px;
	border: 1px solid $orange;
	cursor: pointer;
	transition: 0.25s;
}

#about-button {
	text-align: center;
}

#about {
	box-sizing: border-box;
	margin-top: 20px;
}

#episode-list {
}

.episode {
	border: 1px solid $orange;
	margin: 20px;
	cursor: pointer;


}

.episode-button {
	padding: 20px;
	transition: 0.25s;


	&:hover {
		background-color: $orange;
		color: white;
	}
}

.episode-button-open {
	border-bottom: 1px solid $orange;
}

.episode-container {
	padding: 20px;

}

.show {
	display: block;
	transition: 0.25s;
}

.date {
	font-style: italic;
	float: left;
}

.length {
	font-style: italic;
	float: right;
}

.button {
	padding: 20px;
	margin: 20px -20px -20px -20px;
	color: $orange;
	background-color: white;
	text-align: center;
	border-top: 1px solid $orange;
	transition: 0.25s;

	&:hover {
		color: white;
		background-color: $orange;
		border-top: none;
	}
}

#footer {
	font-size: 0.75em;
	line-height: 1.5;
}



.episode-page {
	border: 1px solid $orange;
	margin: 20px;
	padding: 20px;
	//margin-top: 260px;

	h2 {
		padding-bottom: 20px;
	}
}

.nav {
	position: fixed;
	top: 0;
	margin: 20px;
	padding: 20px;
	background-color: white;
	color: $orange;
	border: 1px solid $orange;
	transition: top 0.25s ease-in-out;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	box-sizing: border-box;

}

.nav-up {
	top: -290px;
}

.nav-item {
	@include noto;
	flex-grow: 1;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	font-size: 0.7em;
	&:hover {
		text-decoration: underline;
		-webkit-text-decoration-style: wavy;
		-moz-text-decoration-style: wavy;
		text-decoration-style: wavy;
		font-style: italic;
	}
}

.wavy_line {
	overflow: hidden;
	color: rgb(255, 255, 255);
	text-decoration: underline;
	-webkit-text-decoration-color: $orange;
	-moz-text-decoration-color: $orange;
	text-decoration-color: $orange;
	-webkit-text-decoration-style: wavy;
	-moz-text-decoration-style: wavy;
	text-decoration-style: wavy;
	padding-bottom: 30px;
	font-size: 30px;
}

.nav-side {
	display: none;
}

.side-bar {
	display: none;
}

.section-des {
	display: none;
}

@media only screen and (min-width: 786px){
	body {
		font-size: 18px;
	}

	.head-foot {
		margin-left: 20px;
		margin-top: 20px;
		float: left;
		width: 60%;
		box-sizing: border-box;
	}
	#about-container {

		float: right;
		width: calc(40% - 105px);
	}
	#episode-list {
		margin-left: 20px;
		float: left;
		width: 60%;
	}
	.episode {
		margin-left: 0;
		width: 100%;
	}
	.nav {
		width: 60%;
		max-width: 800px;
		margin-left: 20px;
		margin-top: 20px;
		border: none;
		//width: calc(30% - 120px);
		//margin-right: 20px;
		
		//float: right;
		a {
			display: none;
		}
		iframe {
			padding: 0px;
			height: 120px;
		}
		padding: 0;
		box-sizing: border-box;
	}
	.episode-page {
		width: 60%;
		max-width: 800px;
		margin-left: 20px;
		margin-right: 0px;
		box-sizing: border-box;
	}
	.nav-side {
		display: block;
		position: fixed;
		margin-top: 20px;
		//left: calc(70% + 20px);
		right: 20px;
		text-align: right;
		border: 1px solid $orange;
		padding: 20px;
		width: 98px;
	}

	.nav-item {
		font-size: 1em;
	}

	.clip {
		margin-left: 80px;
	}

	
}

@media only screen and (min-width: 1100px){
	.section-des {
		display: block;
		position: absolute;
		left: calc(60% + 40px);
		width: calc(40% - 220px);
		font-size: 1em;
		color: $orange;

		h2 {
			color: $orange;
		}

	}

	.section-des-body {
		position: relative;
		top: -47px;
		z-index: -1;
	}

	.caption {
		font-size: 0.7em;
	}
}

