body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;

  background-color: thistle;
  color: darkslategray;
  overflow-y: hidden;



}

#title {
  font-size: 6em;
  letter-spacing: -2px;
  line-height: 0.9em;
  position: fixed;
  display: block;
  top: 20px;
  left: 20px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transition: 0.5s;
}

#container {
  position: fixed;
  display: flex;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: auto;
}


#blob-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;

}
#blob {
  width: 20vw;
  height: 20vw;
  border-radius: 2000px;
  border: 2px solid darkslategray;
  animation: expand 30s infinite ease;
}

.text {
  display: flex;
  align-items: center;
  transition: 0.35s;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 0;
  padding: 25px;
  line-height: 1.1;
}

#clockContainer {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

#vertical {
  width: 20px;
  height: 100px;
  background-color: darkslategray;
  position: absolute;
  left: 40px;
}

#horizontal{
  width: 100px;
  height: 20px;
  position: absolute;
  top: 40px;
  background-color: darkslategray;
}

@keyframes expand {
  0% {width: 100vh; height: 100vh;}
  50% {width: 20vh; height: 20vh;}
  100% {width: 100vh; height: 100vh;}
}