body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: left;
  font-size: 1.75vw;
  letter-spacing: -0.5px;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  background-color: tan;
  color: royalblue;
}

* {
  box-sizing: border-box;
}

#title {
  width: 100vw;
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 6rem;
  letter-spacing: -2px;
  transition: 0.25s;
}

.title-small {
  font-size: 2rem!important;
  letter-spacing: -1.5px!important;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 75px 0px 50px 0px;
}

.word {
  width: 20%;
  height: 20%;
  flex-shrink: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  align-content: center;
  align-items: center;

}

.line {
  background-color: royalblue;
  position: absolute;
}

.worda {
  cursor: pointer;
  padding: 5px 10px;

}

.worda:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 790px) {
  body{
    font-size: 10vw;
  }
  #title {
    border-bottom: 2px solid tan;
    font-size: 15vw;
    top: 0;
    padding: 10px;
    background-color: tan;
  }
  #container {
    height: auto;
    padding-top: 150px;
  }
  .word {
    width: 100%;
    height: auto;
    padding: 20px;
  }
}

#clockContainer {
  width: 70px;
  height: 70px;
  bottom: 5px;
  right: 5px;
  position: fixed;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

#vertical {
  width: 12px;
  height: 70px;
  background-color: royalblue;
  position: absolute;
  left: 29px;
}

#horizontal{
  width: 70px;
  height: 12px;
  position: absolute;
  top: 29px;
  background-color: royalblue;
}

#mute-btn {
  font-size: 16px;
  color: royalblue;
  position: fixed;
  padding: 25px;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
}

#mute-btn:hover {
  color: tan;
  background-color: royalblue;
}

#nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0px;
  height: 100vh;
  border: 0;
  transition: 0.25s;
  z-index: 1;
  border-radius: 2px;
}

.showNav {
  width: 400px!important;
}

.navClock {
  background-color: cornsilk!important;
}