body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.5vw;
  text-align: left;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  background-color: darkslategrey;
  color: thistle;
}

* {
  box-sizing: border-box;
}

#title {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 2em;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  letter-spacing: -1px;
}
#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 100px 50px 50px 50px;
}

.word {
  width: 20%;
  height: 20%;
  flex-shrink: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  align-content: center;
  align-items: center;
}



.line {
  background-color: thistle;
  position: absolute;
}

.worda {
  cursor: pointer;
}

.worda:hover {
  text-decoration: underline;
  animation: glow 0.1s ease infinite;
  /* text-transform: uppercase; */
  /* letter-spacing: -1px; */
}

@media only screen and (max-width: 790px) {
  body{
    font-size: 5vw;
  }
  #title {
    border-bottom: 2px solid thistle;
    background-color: black;
  }
  #container {
    height: auto;
    padding-top: 150px;
  }
  .word {
    width: 100%;
    height: auto;
    padding: 20px;
  }
}