 /* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
	background-color: lightgrey;
}

h1 {
	position: absolute;
	font-size: 50px;
	hanging-punctuation: first;
	line-height: 35px;
}

i {
	font-style: italic;
}

#fixed {
	width: 100%;
	height: 0;
	position: fixed;
}

#edifice {
	float: left;
}

#hmm {
	
	transform: rotate(90deg);
	margin-top: 355px;
	margin-right: -345px;
	float: right;
	position: relative;
}

#modernity {
	transform: rotate(-90deg);
	float: left;
	position: relative;
	margin-top: 600px;
	margin-left: -370px;
}

img {
	margin-left: 25%;
	//width: auto;
	//max-width: 60%;
	//max-height: 80vh;

	position: absolute;
	filter: grayscale(100%);

	&:hover {
		filter: grayscale(0%);
		animation: none;
	}

}

.animated{
	animation-name: rotate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.no_animation {
	animation: none;
}

@for $i from 0 through 39 {
	#tech_#{$i+1} {
		width: 50%;
		animation-duration: (40 - $i) + s;
		top: ($i * 600px) + 400px;
	}
}

@for $i from 0 through 39 {
	#colonial_#{$i+1} {
		width: 50%;
		animation-duration: (40 - $i) + s;
		top: ($i * 600px) + 100px;
		
	}
}

@for $i from 0 through 11 {
	#crops_#{$i+1} {
		animation-duration: (12 - $i) + s;
		top: ($i * 1000px) + 500px;
		left: random(2)*1300 - 1600 + px;
		max-width: 300px;
	}
}

#q{
	color: black;

}

#q1 {
	left:100px;
	top: 1000px;
	width:500px;
	font-size:30px;
	&:hover {
		z-index: 9999;
	}
}

#q2 {
	left: 1200px;
	top: 4000px;
	width:500px;
	font-size:30px;
}

#q3 {
	left: 200px;
	top: 7000px;
	width:500px;
	font-size:30px;
}

#q4 {
	left: 1200px;
	top: 10000px;
	width:500px;
	font-size:30px;
}

#q5 {
	left: 100px;
	top: 13000px;
	width:800px;
	font-size:30px;
}

#q6 {
	left: 1100px;
	top: 16000px;
	width:700px;
	font-size:30px;
}

#q7 {
	left: 100px;
	top: 19000px;
	width:500px;
	font-size:30px;
}

#tab1 {
	margin-left: 300px;
}

#q8 {
	left: 1300px;
	top: 22000px;
	width:500px;
	font-size:30px;
}

#q9 {
	left: 200px;
	top: 25000px;
	width:500px;
	font-size:30px;
}



@keyframes rotate {
	from{transform: rotateY(0deg);}
	to{transform: rotateY(360deg);}
}