html, body {
    padding: 0;
    margin: 0;
    font-family: Stainless;
}
@font-face {
    font-family: Dispatch;
    src: url('./Dispatch2VF.ttf');
}

@font-face {
    font-family: Stainless;
    src: url('./Stainless2_VF.ttf');
}

@font-face {
    font-family: DispatchMonoBold;
    src: url('./Dispatch_Mono-Bold.ttf')
}

@font-face {
    font-family: DispatchMono;
    src: url('./Dispatch_Mono-Regular.ttf')
}

#grid-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: lightgray;
}

#lens {
    width: 260px;
    height: 160px;
    z-index: 1;
    position: absolute;
    top: calc(50vh - 80px);
    left: calc(50vw - 130px);
}

#blinkers {
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: slategrey;
    visibility: visible;
    animation: blink 1s steps(3, start) infinite;
}

#topleft-blinker {
    position: absolute;
    top: -5px;
    left: 0px;
}

#topright-blinker {
    position: absolute;
    top: -5px;
    right: 0px;
}
 
#bottomleft-blinker {
    position: absolute;
    bottom: -5px;
    left: 0px;
}
 
#bottomright-blinker {
    position: absolute;
    bottom: -5px;
    right: 0px;
}

@keyframes blink {
    to {
        visibility: hidden;
    }


}
 
.grabbable {
    cursor: grab;
}


.grabbable:active {
    cursor: grabbing;
}

.cell {
    border-radius: 50px;
    position: absolute;
    /* border: 1px solid white; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    line-height: 1.2;
    text-align: center;
    overflow: hidden;
    transition: 0.25s;
    z-index: 1;
}

.small-cell {
    width: 100px!important;
    height: 100px!important;
    font-size: 16px!important;
    font-variation-settings: 'wght'400, 'wdth' 100!important;
}

.trekker-cell {
    background-color: slategrey;
    color: cornsilk;
    box-shadow: 0 1px 3px slategrey, 0 1px 2px slategrey;
}

.browser-cell {
    background-color: grey;
    color: lightgray;
    box-shadow: 0 1px 3px grey, 0 1px 2px grey;
}

.trekker-part {
    background-color: slategrey!important;
    color: cornsilk;
}

.browser-part {
    background-color: grey!important;
    color: lightgray;
}

.trekker-corner {
    color: slategrey!important;
}

.browser-corner {
    color: grey!important;
}

.header {
    font-style: italic;
    padding-bottom: 3px;
}

#NWCell {
    overflow: visible;
    top: 0;
    left: 0;
}

#NCell {
    z-index: 0;
    top: 0;
    width: 260px;
}

#NECell {
    overflow: visible;
    top: 0;
    right: 0;
}

#WCell {
    line-height: 1.2;
    flex-direction: column;
    justify-content: space-between;
    z-index: 0;
    left: 0;
    height: 160px;
}

#ECell {
    line-height: 1.2;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    padding: 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 0;
    right: 0;
    height: 160px;

}

.e-cell-dingbat {
    z-index: 1;
    background-color: slategrey;
    width: 100%;
    flex-grow: 1;
    padding: 10px;
}


#e-cell-dingbat-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


#left-cover, #right-cover {
    position: absolute;
    background-color: slategrey;
    z-index: 0;

}


#left-cover {
    height: 100%;
    width: 50px;
    left: 0;
    top: 0;
    transition: 0.1s;
}

#right-cover {
    height: 100%;
    width: 50px;
    right: 0;
    top: 0;
    transition: 0.1s;

}
#SWCell {
    overflow: visible;
    bottom: 0;
    left: 0;
}

#SCell {
    z-index: 0;
    bottom: 0;
    width: 260px;
}

#SECell {
    flex-direction: column;
    justify-content: center;
    overflow: visible;
    bottom: 0;
    right: 0;
}

#SCell:hover, #NCell:hover, #WCell:hover, #SCell-small:hover, #NCell-small:hover, #WCell-small:hover {
    background-color: darkgrey!important;
    cursor: pointer;
}

.cell-line {
    position: absolute;
    background-color:  lightgray;
}

#NLine-top {
    height: calc(50% - 30px);
    left: 50%;
    top: 10px;
    width: 0.5px;
}

#NLine-bottom {
    height: calc(50% - 30px);
    width: 0.5px;
    left: 50%;
    bottom: 10px;
}

#WLine-left {
    width: calc(50% - 80px);
    height: 0.5px;
    top: 50%;
    left: 10px;
}

#WLine-right {
    width: calc(50% - 80px);
    height: 0.5px;
    top: 50%;
    right: 10px;
}

#SLine-top {
    width: 0.5px;
    height: calc(50% - 30px);
    left: 50%;
    top: 10px;
}

#SLine-bottom {
    width: 0.5px;
    height: calc(50% - 30px);
    left: 50%;
    bottom: 10px;
}

#ELine-left {
    width: calc(100% - 20px);
    height: 0.5px;
    top: 50%;
    left: 10px;
}

#ELine-right {
    width: calc(100% - 20px);
    height: 0.5px;
    top: 50%;
    left: 10px;
}

.small-cell-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
    background-color: slategray;
    visibility: hidden;
}

#WCell-small, #ECell-small {
    justify-content: space-between;
}

.about-expanded {
    height: calc(100vh - 260px)!important;
    width: 260px!important;
}

#about-title-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
#about-title-left {
    flex-grow: 1;
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    box-sizing: border-box;
}
#about-title-center {
    flex-grow: 0;
}
#about-title-right {
    flex-grow: 1;
    flex-basis: 50%;
    display: flex;
    padding-left: 10px;
    box-sizing: border-box;
}
#about-cover {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about-container {
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

#about-body {
    overflow: scroll;
}

#about-body div {
    padding: 20px;
    text-align: left;
    line-height: 1.2;
}

.block {
    position: absolute;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 16px;
    word-break: break-all;
    line-height: 0.9;
}

@media only screen and (min-width: 1200px) {
    .block {
        font-size: 20px;
    }
}

#mode-header {
    position: relative;
    left: -1px;
}
#mode-body {
    color: slategrey;
    min-width: 20px;
    min-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* font-variation-settings: 'wght' 400; */
}

.trekker-mode-body {
    color: slategrey!important;
}

.browser-mode-body {
    color: grey!important;
}



#curved-corner-bottomleft,
#curved-corner-bottomright,
#curved-corner-topleft,
#curved-corner-topright {
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  color: slategrey;
}

#curved-corner-bottomleft {
    right: -20px;
    top: 80px;
    
}
#curved-corner-topleft {
    right: -20px;
    top: 60px;
}

#curved-corner-bottomright {
    left: -20px;
    top: 80px;
}
#curved-corner-topright {
    left: -20px;
    top: 60px;
}
#curved-corner-bottomleft:before,
#curved-corner-bottomright:before,
#curved-corner-topleft:before,
#curved-corner-topright:before {
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 50%;
}
#curved-corner-bottomleft:before {
  bottom: 0;
  left: 0;
  box-shadow: -10px 10px 0 0;
}
#curved-corner-bottomright:before {
  bottom: 0;
  right: 0;
  box-shadow: 10px 10px 0 0;
}
#curved-corner-topleft:before {
  top: 0;
  left: 0;
  box-shadow: -10px -10px 0 0;
}
#curved-corner-topright:before {
  top: 0;
  right: 0;
  box-shadow: 10px -10px 0 0;
}

.selected-title:before {
    content: '{ '
}

.selected-title:after {
    content: ' }'
}