html, body {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Dispatch;
    src: url('./Dispatch2VF.ttf');
}

@font-face {
    font-family: Stainless;
    src: url('./Stainless2_VF.ttf');
}

@font-face {
    font-family: DispatchMonoBold;
    src: url('./Dispatch_Mono-Bold.ttf')
}

@font-face {
    font-family: DispatchMono;
    src: url('./Dispatch_Mono-Regular.ttf')
}

#grid-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: lightgray;
}

#lens {
    width: 260px;
    height: 160px;
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 100px;
    font-family: 'Stainless';
}

#blinkers {
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: grey;
    visibility: visible;
    animation: blink 1s steps(3, start) infinite;
}

#topleft-blinker {
    position: absolute;
    top: -5px;
    left: 0px;
}

#topright-blinker {
    position: absolute;
    top: -5px;
    right: 0px;
}
 
#bottomleft-blinker {
    position: absolute;
    bottom: -5px;
    left: 0px;
}
 
#bottomright-blinker {
    position: absolute;
    bottom: -5px;
    right: 0px;
}

@keyframes blink {
    to {
        visibility: hidden;
    }


}
 
 
.grabbable {
    cursor: grab;
}


.grabbable:active {
    cursor: grabbing;
}

.cell {
    border-radius: 50px;
    position: absolute;
    /* border: 1px solid white; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Stainless;

    padding: 10px;
    line-height: 1.2;
    text-align: center;
    overflow: hidden;
    transition: 0.25s;
    z-index: 1;
}

.small-cell {
    padding: 3px;
}

.trekker-cell {
    background-color: grey;
    color: lightgray;
    box-shadow: 0 1px 3px grey, 0 1px 2px grey;
}

.browser-cell {
    background-color: olive;
    color: cornsilk;
    box-shadow: 0 1px 3px olive, 0 1px 2px olive;
}

.trekker-part {
    background-color: grey!important;
    color: lightgray;
}

.browser-part {
    background-color: olive!important;
    color: cornsilk;
}

.trekker-corner {
    color: grey!important;
}

.browser-corner {
    color: olive!important;
}

.header {
    font-style: italic;
    padding-bottom: 3px;
}

#NWCell {
    overflow: visible;
}

#NCell {
    z-index: 0;
}

#NECell {
    overflow: visible;
}

#WCell {
    line-height: 1.2;
    flex-direction: column;
    justify-content: space-between;
    z-index: 0;
}

#ECell {
    line-height: 1.2;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    padding: 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 0;

}

.e-cell-dingbat {
    z-index: 1;
    background-color: grey;
    width: 100%;
    flex-grow: 1;
    padding: 10px;
}


#e-cell-dingbat-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


#left-cover, #right-cover {
    position: absolute;
    background-color: grey;
    z-index: 0;

}


#left-cover {
    height: 100%;
    width: 50px;
    left: 0;
    top: 0;
    transition: 0.1s;
}

#right-cover {
    height: 100%;
    width: 50px;
    right: 0;
    top: 0;
    transition: 0.1s;

}
#SWCell {
    overflow: visible;
}

#SCell {
    z-index: 0;
}

#SECell {
    flex-direction: column;
    justify-content: center;
    overflow: visible;

}

#SCell:hover, #NCell:hover, #WCell:hover {
    background-color: cornflowerblue;
    cursor: pointer;
}

#about-cover {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about-container {
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

#about-body div {
    padding: 20px;
    text-align: left;
    line-height: 1.2;
}

.block {
    position: absolute;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: DispatchMono;
    word-break: break-all;
    line-height: 0.9;
}

@media only screen and (min-width: 1200px) {
    .block {
        font-size: 20px;
    }
}

#mode-body {
    color: grey;
    min-width: 20px;
    min-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-variation-settings: 'wght' 300;
}

.trekker-mode-body {
    color: grey!important;
}

.browser-mode-body {
    color: olive!important;
}



#curved-corner-bottomleft,
#curved-corner-bottomright,
#curved-corner-topleft,
#curved-corner-topright {
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  color: grey;
}

#curved-corner-bottomleft {
    right: -20px;
    top: 80px;
    
}
#curved-corner-topleft {
    right: -20px;
    top: 60px;
}

#curved-corner-bottomright {
    left: -20px;
    top: 80px;
}
#curved-corner-topright {
    left: -20px;
    top: 60px;
}
#curved-corner-bottomleft:before,
#curved-corner-bottomright:before,
#curved-corner-topleft:before,
#curved-corner-topright:before {
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 50%;
}
#curved-corner-bottomleft:before {
  bottom: 0;
  left: 0;
  box-shadow: -10px 10px 0 0;
}
#curved-corner-bottomright:before {
  bottom: 0;
  right: 0;
  box-shadow: 10px 10px 0 0;
}
#curved-corner-topleft:before {
  top: 0;
  left: 0;
  box-shadow: -10px -10px 0 0;
}
#curved-corner-topright:before {
  top: 0;
  right: 0;
  box-shadow: 10px -10px 0 0;
}
  