body {
  background-color: rgba(0,0,0,0);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.text {
  width: 60%;
  margin: auto;
  padding-top: 100px;
  font-size: 60px;

}

span {
  color: black;
  text-decoration: none;
}

span:hover {
  color: white;
  cursor: pointer;
}
