body {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1em;
  text-align: left;
    color: darkgreen;

}

a {
  color: darkgreen;
  text-decoration: none;

}

a:hover{
  text-decoration: underline;

}

#container {
  background-color: yellow;
  margin: 0;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div {
  box-sizing: border-box;
  float: left;
  text-align: center;
  padding: 20px;
  margin: 5px; 


}

.link {
  border: 1px solid darkgreen;
  color: darkgreen;
  background-color: yellow;
  text-decoration: none;
  transition: 0.1s;
}

.link:hover {
  background-color: white;
}