body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 50px;
  text-align: left;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

}

#container {
  width: 100%;
  height: 100%;
}

div{
  box-sizing: border-box;
  position: absolute;
}

#a, #f, #k {
  text-align: left;
}

#b, #d, #e, #g, #i, #j, #l {
  text-align: center
}

#c, #h, #m {
  text-align: right;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: fixed;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 300px;
  top: calc(50vh + 5px);

}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 300px;
  top: calc(50vh + 5px);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  left: calc(50vw - 5px);
  top: 100px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  left: calc(50vw - 5px);
  top: calc(100vh - 100px);
}