/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
body {
  background-color: lightgrey;
}

/* line 12, ../sass/screen.scss */
h1 {
  position: absolute;
  font-size: 50px;
  hanging-punctuation: first;
  line-height: 35px;
}

/* line 19, ../sass/screen.scss */
i {
  font-style: italic;
}

/* line 23, ../sass/screen.scss */
#fixed {
  width: 100%;
  height: 0;
  position: fixed;
}

/* line 29, ../sass/screen.scss */
#edifice {
  float: left;
}

/* line 33, ../sass/screen.scss */
#hmm {
  transform: rotate(90deg);
  margin-top: 355px;
  margin-right: -345px;
  float: right;
  position: relative;
}

/* line 42, ../sass/screen.scss */
#modernity {
  transform: rotate(-90deg);
  float: left;
  position: relative;
  margin-top: 600px;
  margin-left: -370px;
}

/* line 50, ../sass/screen.scss */
img {
  margin-left: 25%;
  position: absolute;
  filter: grayscale(100%);
}
/* line 59, ../sass/screen.scss */
img:hover {
  filter: grayscale(0%);
  animation: none;
}

/* line 66, ../sass/screen.scss */
.animated {
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* line 72, ../sass/screen.scss */
.no_animation {
  animation: none;
}

/* line 77, ../sass/screen.scss */
#tech_1 {
  width: 50%;
  animation-duration: 40s;
  top: 400px;
}

/* line 77, ../sass/screen.scss */
#tech_2 {
  width: 50%;
  animation-duration: 39s;
  top: 1000px;
}

/* line 77, ../sass/screen.scss */
#tech_3 {
  width: 50%;
  animation-duration: 38s;
  top: 1600px;
}

/* line 77, ../sass/screen.scss */
#tech_4 {
  width: 50%;
  animation-duration: 37s;
  top: 2200px;
}

/* line 77, ../sass/screen.scss */
#tech_5 {
  width: 50%;
  animation-duration: 36s;
  top: 2800px;
}

/* line 77, ../sass/screen.scss */
#tech_6 {
  width: 50%;
  animation-duration: 35s;
  top: 3400px;
}

/* line 77, ../sass/screen.scss */
#tech_7 {
  width: 50%;
  animation-duration: 34s;
  top: 4000px;
}

/* line 77, ../sass/screen.scss */
#tech_8 {
  width: 50%;
  animation-duration: 33s;
  top: 4600px;
}

/* line 77, ../sass/screen.scss */
#tech_9 {
  width: 50%;
  animation-duration: 32s;
  top: 5200px;
}

/* line 77, ../sass/screen.scss */
#tech_10 {
  width: 50%;
  animation-duration: 31s;
  top: 5800px;
}

/* line 77, ../sass/screen.scss */
#tech_11 {
  width: 50%;
  animation-duration: 30s;
  top: 6400px;
}

/* line 77, ../sass/screen.scss */
#tech_12 {
  width: 50%;
  animation-duration: 29s;
  top: 7000px;
}

/* line 77, ../sass/screen.scss */
#tech_13 {
  width: 50%;
  animation-duration: 28s;
  top: 7600px;
}

/* line 77, ../sass/screen.scss */
#tech_14 {
  width: 50%;
  animation-duration: 27s;
  top: 8200px;
}

/* line 77, ../sass/screen.scss */
#tech_15 {
  width: 50%;
  animation-duration: 26s;
  top: 8800px;
}

/* line 77, ../sass/screen.scss */
#tech_16 {
  width: 50%;
  animation-duration: 25s;
  top: 9400px;
}

/* line 77, ../sass/screen.scss */
#tech_17 {
  width: 50%;
  animation-duration: 24s;
  top: 10000px;
}

/* line 77, ../sass/screen.scss */
#tech_18 {
  width: 50%;
  animation-duration: 23s;
  top: 10600px;
}

/* line 77, ../sass/screen.scss */
#tech_19 {
  width: 50%;
  animation-duration: 22s;
  top: 11200px;
}

/* line 77, ../sass/screen.scss */
#tech_20 {
  width: 50%;
  animation-duration: 21s;
  top: 11800px;
}

/* line 77, ../sass/screen.scss */
#tech_21 {
  width: 50%;
  animation-duration: 20s;
  top: 12400px;
}

/* line 77, ../sass/screen.scss */
#tech_22 {
  width: 50%;
  animation-duration: 19s;
  top: 13000px;
}

/* line 77, ../sass/screen.scss */
#tech_23 {
  width: 50%;
  animation-duration: 18s;
  top: 13600px;
}

/* line 77, ../sass/screen.scss */
#tech_24 {
  width: 50%;
  animation-duration: 17s;
  top: 14200px;
}

/* line 77, ../sass/screen.scss */
#tech_25 {
  width: 50%;
  animation-duration: 16s;
  top: 14800px;
}

/* line 77, ../sass/screen.scss */
#tech_26 {
  width: 50%;
  animation-duration: 15s;
  top: 15400px;
}

/* line 77, ../sass/screen.scss */
#tech_27 {
  width: 50%;
  animation-duration: 14s;
  top: 16000px;
}

/* line 77, ../sass/screen.scss */
#tech_28 {
  width: 50%;
  animation-duration: 13s;
  top: 16600px;
}

/* line 77, ../sass/screen.scss */
#tech_29 {
  width: 50%;
  animation-duration: 12s;
  top: 17200px;
}

/* line 77, ../sass/screen.scss */
#tech_30 {
  width: 50%;
  animation-duration: 11s;
  top: 17800px;
}

/* line 77, ../sass/screen.scss */
#tech_31 {
  width: 50%;
  animation-duration: 10s;
  top: 18400px;
}

/* line 77, ../sass/screen.scss */
#tech_32 {
  width: 50%;
  animation-duration: 9s;
  top: 19000px;
}

/* line 77, ../sass/screen.scss */
#tech_33 {
  width: 50%;
  animation-duration: 8s;
  top: 19600px;
}

/* line 77, ../sass/screen.scss */
#tech_34 {
  width: 50%;
  animation-duration: 7s;
  top: 20200px;
}

/* line 77, ../sass/screen.scss */
#tech_35 {
  width: 50%;
  animation-duration: 6s;
  top: 20800px;
}

/* line 77, ../sass/screen.scss */
#tech_36 {
  width: 50%;
  animation-duration: 5s;
  top: 21400px;
}

/* line 77, ../sass/screen.scss */
#tech_37 {
  width: 50%;
  animation-duration: 4s;
  top: 22000px;
}

/* line 77, ../sass/screen.scss */
#tech_38 {
  width: 50%;
  animation-duration: 3s;
  top: 22600px;
}

/* line 77, ../sass/screen.scss */
#tech_39 {
  width: 50%;
  animation-duration: 2s;
  top: 23200px;
}

/* line 77, ../sass/screen.scss */
#tech_40 {
  width: 50%;
  animation-duration: 1s;
  top: 23800px;
}

/* line 85, ../sass/screen.scss */
#colonial_1 {
  width: 50%;
  animation-duration: 40s;
  top: 100px;
}

/* line 85, ../sass/screen.scss */
#colonial_2 {
  width: 50%;
  animation-duration: 39s;
  top: 700px;
}

/* line 85, ../sass/screen.scss */
#colonial_3 {
  width: 50%;
  animation-duration: 38s;
  top: 1300px;
}

/* line 85, ../sass/screen.scss */
#colonial_4 {
  width: 50%;
  animation-duration: 37s;
  top: 1900px;
}

/* line 85, ../sass/screen.scss */
#colonial_5 {
  width: 50%;
  animation-duration: 36s;
  top: 2500px;
}

/* line 85, ../sass/screen.scss */
#colonial_6 {
  width: 50%;
  animation-duration: 35s;
  top: 3100px;
}

/* line 85, ../sass/screen.scss */
#colonial_7 {
  width: 50%;
  animation-duration: 34s;
  top: 3700px;
}

/* line 85, ../sass/screen.scss */
#colonial_8 {
  width: 50%;
  animation-duration: 33s;
  top: 4300px;
}

/* line 85, ../sass/screen.scss */
#colonial_9 {
  width: 50%;
  animation-duration: 32s;
  top: 4900px;
}

/* line 85, ../sass/screen.scss */
#colonial_10 {
  width: 50%;
  animation-duration: 31s;
  top: 5500px;
}

/* line 85, ../sass/screen.scss */
#colonial_11 {
  width: 50%;
  animation-duration: 30s;
  top: 6100px;
}

/* line 85, ../sass/screen.scss */
#colonial_12 {
  width: 50%;
  animation-duration: 29s;
  top: 6700px;
}

/* line 85, ../sass/screen.scss */
#colonial_13 {
  width: 50%;
  animation-duration: 28s;
  top: 7300px;
}

/* line 85, ../sass/screen.scss */
#colonial_14 {
  width: 50%;
  animation-duration: 27s;
  top: 7900px;
}

/* line 85, ../sass/screen.scss */
#colonial_15 {
  width: 50%;
  animation-duration: 26s;
  top: 8500px;
}

/* line 85, ../sass/screen.scss */
#colonial_16 {
  width: 50%;
  animation-duration: 25s;
  top: 9100px;
}

/* line 85, ../sass/screen.scss */
#colonial_17 {
  width: 50%;
  animation-duration: 24s;
  top: 9700px;
}

/* line 85, ../sass/screen.scss */
#colonial_18 {
  width: 50%;
  animation-duration: 23s;
  top: 10300px;
}

/* line 85, ../sass/screen.scss */
#colonial_19 {
  width: 50%;
  animation-duration: 22s;
  top: 10900px;
}

/* line 85, ../sass/screen.scss */
#colonial_20 {
  width: 50%;
  animation-duration: 21s;
  top: 11500px;
}

/* line 85, ../sass/screen.scss */
#colonial_21 {
  width: 50%;
  animation-duration: 20s;
  top: 12100px;
}

/* line 85, ../sass/screen.scss */
#colonial_22 {
  width: 50%;
  animation-duration: 19s;
  top: 12700px;
}

/* line 85, ../sass/screen.scss */
#colonial_23 {
  width: 50%;
  animation-duration: 18s;
  top: 13300px;
}

/* line 85, ../sass/screen.scss */
#colonial_24 {
  width: 50%;
  animation-duration: 17s;
  top: 13900px;
}

/* line 85, ../sass/screen.scss */
#colonial_25 {
  width: 50%;
  animation-duration: 16s;
  top: 14500px;
}

/* line 85, ../sass/screen.scss */
#colonial_26 {
  width: 50%;
  animation-duration: 15s;
  top: 15100px;
}

/* line 85, ../sass/screen.scss */
#colonial_27 {
  width: 50%;
  animation-duration: 14s;
  top: 15700px;
}

/* line 85, ../sass/screen.scss */
#colonial_28 {
  width: 50%;
  animation-duration: 13s;
  top: 16300px;
}

/* line 85, ../sass/screen.scss */
#colonial_29 {
  width: 50%;
  animation-duration: 12s;
  top: 16900px;
}

/* line 85, ../sass/screen.scss */
#colonial_30 {
  width: 50%;
  animation-duration: 11s;
  top: 17500px;
}

/* line 85, ../sass/screen.scss */
#colonial_31 {
  width: 50%;
  animation-duration: 10s;
  top: 18100px;
}

/* line 85, ../sass/screen.scss */
#colonial_32 {
  width: 50%;
  animation-duration: 9s;
  top: 18700px;
}

/* line 85, ../sass/screen.scss */
#colonial_33 {
  width: 50%;
  animation-duration: 8s;
  top: 19300px;
}

/* line 85, ../sass/screen.scss */
#colonial_34 {
  width: 50%;
  animation-duration: 7s;
  top: 19900px;
}

/* line 85, ../sass/screen.scss */
#colonial_35 {
  width: 50%;
  animation-duration: 6s;
  top: 20500px;
}

/* line 85, ../sass/screen.scss */
#colonial_36 {
  width: 50%;
  animation-duration: 5s;
  top: 21100px;
}

/* line 85, ../sass/screen.scss */
#colonial_37 {
  width: 50%;
  animation-duration: 4s;
  top: 21700px;
}

/* line 85, ../sass/screen.scss */
#colonial_38 {
  width: 50%;
  animation-duration: 3s;
  top: 22300px;
}

/* line 85, ../sass/screen.scss */
#colonial_39 {
  width: 50%;
  animation-duration: 2s;
  top: 22900px;
}

/* line 85, ../sass/screen.scss */
#colonial_40 {
  width: 50%;
  animation-duration: 1s;
  top: 23500px;
}

/* line 94, ../sass/screen.scss */
#crops_1 {
  animation-duration: 12s;
  top: 500px;
  left: 1000px;
  max-width: 300px;
}

/* line 94, ../sass/screen.scss */
#crops_2 {
  animation-duration: 11s;
  top: 1500px;
  left: -300px;
  max-width: 300px;
}

/* line 94, ../sass/screen.scss */
#crops_3 {
  animation-duration: 10s;
  top: 2500px;
  left: -300px;
  max-width: 300px;
}

/* line 94, ../sass/screen.scss */
#crops_4 {
  animation-duration: 9s;
  top: 3500px;
  left: 1000px;
  max-width: 300px;
}

/* line 94, ../sass/screen.scss */
#crops_5 {
  animation-duration: 8s;
  top: 4500px;
  left: -300px;
  max-width: 300px;
}

/* line 94, ../sass/screen.scss */
#crops_6 {
  animation-duration: 7s;
  top: 5500px;
  left: -300px;
  max-width: 300px;
}

/* line 94, ../sass/screen.scss */
#crops_7 {
  animation-duration: 6s;
  top: 6500px;
  left: 1000px;
  max-width: 300px;
}

/* line 94, ../sass/screen.scss */
#crops_8 {
  animation-duration: 5s;
  top: 7500px;
  left: -300px;
  max-width: 300px;
}

/* line 94, ../sass/screen.scss */
#crops_9 {
  animation-duration: 4s;
  top: 8500px;
  left: -300px;
  max-width: 300px;
}

/* line 94, ../sass/screen.scss */
#crops_10 {
  animation-duration: 3s;
  top: 9500px;
  left: -300px;
  max-width: 300px;
}

/* line 94, ../sass/screen.scss */
#crops_11 {
  animation-duration: 2s;
  top: 10500px;
  left: -300px;
  max-width: 300px;
}

/* line 94, ../sass/screen.scss */
#crops_12 {
  animation-duration: 1s;
  top: 11500px;
  left: 1000px;
  max-width: 300px;
}

/* line 102, ../sass/screen.scss */
#q {
  color: black;
}

/* line 107, ../sass/screen.scss */
#q1 {
  left: 100px;
  top: 1000px;
  width: 500px;
  font-size: 30px;
}
/* line 112, ../sass/screen.scss */
#q1:hover {
  z-index: 9999;
}

/* line 117, ../sass/screen.scss */
#q2 {
  left: 1200px;
  top: 4000px;
  width: 500px;
  font-size: 30px;
}

/* line 124, ../sass/screen.scss */
#q3 {
  left: 200px;
  top: 7000px;
  width: 500px;
  font-size: 30px;
}

/* line 131, ../sass/screen.scss */
#q4 {
  left: 1200px;
  top: 10000px;
  width: 500px;
  font-size: 30px;
}

/* line 138, ../sass/screen.scss */
#q5 {
  left: 100px;
  top: 13000px;
  width: 800px;
  font-size: 30px;
}

/* line 145, ../sass/screen.scss */
#q6 {
  left: 1100px;
  top: 16000px;
  width: 700px;
  font-size: 30px;
}

/* line 152, ../sass/screen.scss */
#q7 {
  left: 100px;
  top: 19000px;
  width: 500px;
  font-size: 30px;
}

/* line 159, ../sass/screen.scss */
#tab1 {
  margin-left: 300px;
}

/* line 163, ../sass/screen.scss */
#q8 {
  left: 1300px;
  top: 22000px;
  width: 500px;
  font-size: 30px;
}

/* line 170, ../sass/screen.scss */
#q9 {
  left: 200px;
  top: 25000px;
  width: 500px;
  font-size: 30px;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
