@font-face {
  font-family: "menlo";
  src: url("fonts/Menlo-Regular.ttf");
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "menlo", monospace, sans-serif;
  text-align: left;
  font-size: 14px;
  color: blue;
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

#img-container {
  background-color: blue;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  z-index: 1;
}

#dog {
  mix-blend-mode: screen;
  max-width: 100%;
  height: auto;
}

.link {
  pointer-events: all!important;
  position: relative;
  color: black;
  padding: 2px;
  border: 1px solid black;
  cursor: pointer;
  transform: translate(0);
  z-index: 9999;
}
.link:hover {
  color: white;
  background-color: black;
}

.poem {
  pointer-events: none;
  display: inline-block;
  position: absolute;
  width: 550px;
  background-color: rgba(255, 255, 255, 0);
}
 
h3 {
  margin-top: 0em;
  font-size: 1em;
  line-height: unset;
  text-transform: uppercase;
}

p {
  max-width: 550px;
  padding-right: 20px;
}

#container {
  padding: 20px;
}

.centered {
  font-size: 8em;
  letter-spacing: -2px;
  line-height: 0.9em;
}

.runner {
  font-size: 2em;
  position: fixed;
  cursor: pointer;
  color: blue;
  z-index: 1;
}

.runner:hover {
  text-decoration: underline;
}

#body {
  flex-grow: 2;
  position: relative;
  font-size: 1em;
  line-height: 1.5em;
  margin: 180px 10px 10px 10px;

}

@media (min-width: 768px) {
  #body {
    margin: 15px 20px 20px 180px;
  }

  #mute-btn {
    right: 210px;
    top: 0;
  }
}

#clockContainer {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

#vertical {
  width: 20px;
  height: 100px;
  background-color: blue;
  position: absolute;
  left: 40px;
  transition: 0.25s;

}

#horizontal{
  width: 100px;
  height: 20px;
  position: absolute;
  top: 40px;
  background-color: blue;
  transition: 0.25s;

}

#mute-btn {
  color: blue;
  position: fixed;
  padding: 25px;
  right: 0;
  top: 130px;
  text-align: center;
  cursor: pointer;
}

#mute-btn:hover {
  color: white;
  background-color: blue;
}