@font-face {
  font-family: "menlo";
  src: url("fonts/Menlo-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: left;
  background-color: none;
  color: red;
  overflow: hidden;
}

#title {
  font-size: 6rem;
  letter-spacing: -2px;
  line-height: 0.9em;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: 0.25s;
  z-index: -1;
}

#container {
  position: relative;
  box-sizing: border-box;
  -webkit-perspective: 500;
  perspective: 500;
  width: 100vw;
  height: 100vh;
  transform-origin: top center;
}

.paragraph {
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 150px 150px;

  background-color: yellow;
  font-size: 6rem;

}


.indicator {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 1.5px solid forestgreen;
  position: absolute;
  right: 25px;
  top: 25px;
  transition: 0.25s;
}

#clockContainer {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

#vertical {
  width: 20px;
  height: 100px;
  background-color: forestgreen;
  position: absolute;
  left: 40px;
}

#horizontal{
  width: 100px;
  height: 20px;
  position: absolute;
  top: 40px;
  background-color: forestgreen;
}