@font-face {
  font-family: "menlo";
  src: url("fonts/Menlo-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: left;
  background-color: none;
  color: silver;
  background-color: rebeccapurple;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#title {
  font-size: 6rem;
  letter-spacing: -2px;
  line-height: 0.9em;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: 0.25s;
  z-index: -1;
  color: red;
}

#container {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.paragraph {
  position: absolute;
  width: calc(50vw + 0.5px);
  height: calc(50vh + 0.5px);
  border: 1px solid red;
  font-size: 6rem;
  overflow: scroll;
  border-radius: 62px;
  line-height: 8rem;
}

#top-left {
  top: 0;
  left: 0;
}

#top-right {
  right: 0;
  top: 0;
}

#bottom-left {
  bottom: 0;
  left: 0;
}

#bottom-right {
  bottom: 0;
  right: 0;
}


#handle {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid red;
  position: absolute;
  left: calc(50vw - 25px);
  top: calc(50vh - 25px);
  cursor: grab;
}

#handle:hover {
  background-color: red;
}
#handle:active {
  cursor: grabbing;
}


#clockContainer {
  width: 70px;
  height: 70px;
  bottom: 5px;
  right: 5px;
  position: fixed;
  display: inline-block;
  cursor: pointer;
  z-index: 2;

}

#vertical {
  width: 12px;
  height: 70px;
  background-color: red;
  position: absolute;
  left: 29px;
}

#horizontal{
  width: 70px;
  height: 12px;
  position: absolute;
  top: 29px;
  background-color: red;
}

#mute-btn {
  color: red;
  position: fixed;
  padding: 25px;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
}

#mute-btn:hover {
  color: purple;
  background-color: red;
}

#nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0px;
  height: 100vh;
  border: 0;
  transition: 0.25s;
  z-index: 1;
  border-radius: 2px;
}

.showNav {
  width: 400px!important;
}

.navClock {
  background-color: cornsilk!important;
}