body, html {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: maroon;
    background-color: pink;

}

#page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#title, #index {
    height: 3.5rem;
    flex-shrink: 0;
    border-top: 1px solid maroon;
    font-size: 3rem;
    letter-spacing: -2px;
    vertical-align: baseline;
    margin: 0 10px;

}

#title {
    align-items: flex-start;
    margin-bottom: 3.5rem;
    border-bottom: 1px solid maroon;

}

#container {
    flex-grow: 1;
    overflow: auto;
    font-size: 4rem;
    letter-spacing: -3px;
}

#container div {
    text-align: center;
    
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
