body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: left;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  background-color: cornsilk;
  color: orangered;
  overflow: hidden;


}

#title {
  font-size: 6rem;
  letter-spacing: -2px;
  line-height: 0.9;
  position: fixed;
  display: block;
  top: 10px;
  left: 10px;
  z-index: -1;
  color: olivedrab;
  transition: 0.25s;
}

#container {
  width: 100vw;
  height: 100vh;
  font-size: 1.5rem;
  transition: 0.25s;
}

.colormode2 {
  color: cornsilk;
  background-color: olivedrab;
}


.word {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  letter-spacing: -1px;
}

#txt {
  padding: 25px;
  position: absolute;
  width: 50%;
  left: 0;
  bottom: 0;
  font-size: 12px;
  color: olivedrab;
}

#clockContainer {
  width: 70px;
  height: 70px;
  bottom: 5px;
  right: 5px;
  position: fixed;
  display: inline-block;
  cursor: pointer;
}

#vertical {
  width: 12px;
  height: 70px;
  background-color: olivedrab;
  position: absolute;
  left: 29px;
}

#horizontal{
  width: 70px;
  height: 12px;
  position: absolute;
  top: 29px;
  background-color: olivedrab;
}

#mute-btn {
  color: olivedrab;
  position: fixed;
  padding: 25px;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
}

#mute-btn:hover {
  color: cornsilk;
  background-color: olivedrab;
}

.mute-alt {
  color: cornsilk!important;
}

.mute-alt:hover {
  color: seagreen!important;
  background-color: cornsilk!important;
}