html, body {
    padding: 0;
    margin: 0;
    color: darkslategray;
    font-family: 'Arial', sans-serif;
    background-color: gainsboro;
}
canvas {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    position: absolute;
}

#matterCanvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#matterCanvas {
    position: relative;
    filter: blur(0.5vw);
}

#display {
    box-sizing: border-box;
    width: 100vw;
    bottom: 125px;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 20vw;
    filter: blur(0.5vw);
    letter-spacing: -1.5vw;
    text-align: center;
    line-height: 0.6;
    text-transform:lowercase;
}

#list {
    font-size: 14px;
    width: 100vw;
    height: 100px;
    left: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
    margin-bottom: 16px;
}

#list div {
    height: min-content;
    margin-left: 20px;
    margin-right: 20px;
}
.circle {
    position: absolute;
    top: calc(50vh - 50px);
    width: 100px;
    height: 100px;
    border-radius: 3px;
    border: 1px solid darkslategrey;
    color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-transform:lowercase;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
    line-height: 0.8;
}
#left-circle {
    left: 20px;
}
#right-circle {
    right: 20px;
}

.circle.alt {
    color: gainsboro;
    background-color: darkslategray;
}

#start-page {
    background-color: darkslategrey;
}

#title {
    font-size: 20vw;
    letter-spacing: -1.5vw;
    text-align: center;
    line-height: 0.55;
    cursor: pointer;
    filter: blur(0.5vw);
    transition: filter 1s;
}
#title:hover {
    filter: blur(2vw);
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12vw;
}