html,
body {
    margin: 0;
    padding: 0;
}

/* Scale canvas with resize attribute to full size */
canvas{
    position: absolute;
    z-index: 1;
    left: 900px;
    top: 725px;
    width: 2000px;
    height: 1000px;
    background-color: rgba(0,0,0,0);
    mix-blend-mode: color-burn;
}

h1 {
	position: absolute;
	color: white;
  width: 100%;
  margin-top: 50vh;
  text-align: center;
	font-family: serif;
	font-size: 10em;
}

#frame {
  width: 3755px;
  height: 2513px;
  background-color: blue;
  background-image: url("ocean.jpg");
  background-repeat: no-repeat;
  background-position: center;

}
