@font-face {
  font-family: "menlo";
  src: url("fonts/Menlo-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: left;
=  color: black;
  background-color: white;
  overflow: hidden;
}

#title {
  font-size: 6rem;
  letter-spacing: -2px;
  line-height: 0.9em;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: 0.25s;
  z-index: -1;
  color: black;
}

#container {
  position: relative;
  box-sizing: border-box;
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.row {
  height: 33.33333%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 0;
  flex-shrink: 0;
}

.box {
  width: calc(33vw - 50px);
  margin: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;

}

.box div {
  flex-grow: 0;
  flex-shrink: 0;
  width: calc(33vw - 50px);
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid black;
}

.offcycle {
  color: white;
  background-color: black;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

/* Common */

#clockContainer {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

#vertical {
  width: 20px;
  height: 100px;
  background-color: black;
  position: absolute;
  left: 40px;
}

#horizontal{
  width: 100px;
  height: 20px;
  position: absolute;
  top: 40px;
  background-color: black;
}

#mute-btn {
  color: black;
  position: fixed;
  padding: 25px;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
}

#mute-btn:hover {
  color: white;
  background-color: black;
}